<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>ticketing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">


    <style>body { background-color: black;   }</style>

    <!--    url(/templates/bg.jpeg) no-repeat center center fixed;-->

</head>
<body   >


<div class="container-fluid bg-dark text-light py-3">
    <header class="text-center">
        <h1 class="display-6">Ticketing</h1>
    </header>
</div>

<section class="container my-2 bg-dark w-50 text-light p-2" >


    <form action="/newticket" method="post" th:object="${ticket}"  class="row g-3 p-3" style="box-shadow: 0 0 100px rgba(31, 81, 255, 0.8);">
    <h2 style="color: lime"> new ticket </h2>
        <div class="col-md-6">
            <label for="phoneNumber" class="form-label">phone Number</label>
            <input type="text" class="form-control" name="phoneNumber"id="phoneNumber">
        </div>
        <div class="col-md-6">
            <label for="city" class="form-label">address / city</label>
            <input type="text" class="form-control" name="city"id="city">
        </div>
        <div class="col-md-6">
            <label for="fullName" class="form-label">full Name</label>
            <input type="text" class="form-control" name="fullName"id="fullName">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" placeholder="email"id="email">
        </div>
        <div class="col-md-6">
            <label for="AFM" class="form-label">AFM</label>
            <input type="text" class="form-control" name="AFM" id="AFM">
        </div>
        <div class="col-md-6">
            <label for="customerId" class="form-label">customer Id</label>
            <input type="text" class="form-control" name="customerId" id="customerId">
        </div>
        <div class="col-md-6">
            <label for="ticketState" class="form-label">ticket State</label>
            <input type="text" class="form-control" name="ticketState" id="ticketState">
        </div>
        <div class="col-md-6">
            <label for="serialNumber" class="form-label">serial Number</label>
            <input type="text" class="form-control" id="serialNumber" name="serialNumber">
        </div>

        <div class="col-md-6">
            <label for="userName" class="form-label">user name</label>
            <input type="text" class="form-control" id="userName" name="userName">
        </div>

        <div class="col-md-6">
            <label for="subject" class="form-label">subject</label>
            <input type="text" class="form-control" id="subject" name="subject">
        </div>


        <div class="col-md-4">
            <label for="ticketSource" class="form-label">ticket Source</label>
            <select id="ticketSource" th:field="*{ticketSource}" class="form-select" name="ticketSource">
                <option value="" selected>Choose...</option>
                <option th:each="source : ${ticketSource}" th:value="${source}" th:text="${source}"></option>
                <!--                <option>Phone</option>-->
                <!--                <option>Email</option>-->
                <!--                <option>Other</option>-->
            </select>
        </div>
        <!--        -->

        <div class="col-md-4">
            <label for="department" class="form-label">department</label>
            <select id="department" th:field="*{department}" class="form-select" name="department">
                <option value="" selected>Choose...</option>
                <option th:each="source : ${department}" th:value="${source}" th:text="${source}"></option>
                <!--                <option>acs department</option>-->
                <!--                <option>other</option>-->
            </select>
        </div>
        <div class="col-md-4">
            <label for="helpTopic" class="form-label">help Topic</label>
            <select id="helpTopic"  th:field="*{helpTopic}" class="form-select" name="helpTopic">
                <option value="" selected>Choose...</option>
                <option th:each="source : ${helpTopic}" th:value="${source}" th:text="${source}"></option>
                <!--                <option>support</option>-->
                <!--                <option>billing</option>-->
            </select>
        </div>
        <div class="col-md-4">
            <label for="priority" class="form-label">priority</label>
            <select id="priority" th:field="*{priority}" class="form-select" name="priority">
                <option value="" selected>Choose...</option>
                <option th:each="source : ${priority}" th:value="${source}" th:text="${source}"></option>
                <!--                <option>low</option>-->
                <!--                <option>normal</option>-->
                <!--                <option>urgent</option>-->
            </select>
        </div>
        <div class="col-md-4">
            <label for="deviceModel" class="form-label">device Model</label>
            <select id="deviceModel"  th:field="*{deviceModel}"  class="form-select" name="deviceModel" >
                <option value="" selected>Choose...</option>
                <option th:each="source : ${deviceModel}" th:value="${source}" th:text="${source}"></option>
                <!--                <option>EF 550 R</option>-->
                <!--                <option>SPP R310</option>-->
                <!--                <option>EF 500 1slot cradle</option>-->
                <!--                <option>EF 500 4slot cradle</option>-->
                <!--                <option>Xiaomi Redmi9</option>-->
                <!--                <option>EF500 R</option>-->
                <!--                <option>EF500 R 1slot cradle</option>-->
                <!--                <option>EF500 R 4slot cradle</option>-->
            </select>
        </div>


        <div class="col-md-4">
            <label for="category" class="form-label">category</label>
            <select id="category" th:field="*{category}" class="form-select" name="category" >
                <option value="" selected>Choose...</option>
                <option th:each="source : ${category}" th:value="${source}" th:text="${source}"></option>
                <!--                <option>hardware issue</option>-->
                <!--                <option>software issue</option>-->
                <!--                <option>network - communications</option>-->
                <!--                <option>application properties</option>-->
                <!--                <option>hardware properties</option>-->
                <!--                <option>hardware misuse</option>-->
                <!--                <option>software misuse</option>-->
                <!--                <option>general info software/hardware</option>-->
                <!--                <option>caused damage</option>-->
                <!--                <option>theft / loss</option>-->
            </select>
        </div>


        <div class="col-md-4">
            <label for="assignedTo" class="form-label">assign To</label>
            <select id="assignedTo" th:field="*{assignedTo}" class="form-select" name="assignedTo" >
                <option value="" selected>Choose...</option>
                <option th:each="source : ${assignedTo}" th:value="${source}" th:text="${source}"></option>
                <!--                <option>Tsaloukidis Al</option>-->
                <!--                <option>Psaras B</option>-->
                <!--                <option>Giannetakis St</option>-->
                <!--                <option>Maistrou M</option>-->
                <!--                <option>Kritikos Sp</option>-->
                <!--                <option>Tzouvelis St</option>-->
            </select>
        </div>

        <div>
        <div class="col-md-10">
            <label for="solution" class="form-label">solution</label>
            <textarea class="form-control" id="solution" name="solution" rows="3"></textarea>
        </div>

        <div class="col-md-10">
            <label for="solutionType" class="form-label">solution Type</label>
            <textarea class="form-control" id="solutionType" name="solutionType" rows="3"></textarea>
        </div>
        </div>


<!--        <div class="col-md-2">-->
<!--            <label for=" " class="form-label">Zip</label>-->
<!--            <input type="text" class="form-control" id=" ">-->
<!--        </div>-->



        <div class="col-12">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">Check me out </label></div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck">Check me out </label></div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gridCheck2">
                <label class="form-check-label" for="gridCheck">Check me out </label></div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success" style="margin-right: 50px;">Save new ticket</button>

            <a th:href="@{/opentickets}" class="btn btn-primary mb-2" style="margin-top: 5px; margin-left: 10px;">Go to Open tickets</a>

            <a th:href="@{/closedtickets}" class="btn btn-primary mb-2" style="margin-top: 5px; margin-left: 10px;">Go to Closed tickets</a>
            <a th:href="@{/adduser}" class="btn btn-primary mb-2" style="margin-top: 5px; margin-left: 10px;">Add user</a>

        </div>



    </form>



</section>

</div>
</body>
</html>
